@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f9f6f6;
    font-family: "Roboto", sans-serif;
    font-family: "Libre Baskerville", serif;
    font-family: "Inter", sans-serif;
}
/* --------Utility CSS-------- */

.home-section{
    padding: 50px 0;
}
.section-heading{
    margin-bottom: 40px;
    font-family: "Inter", sans-serif;
}

/* ------------Header------------ */
.nav-link{
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
}

/* -----------Hero Section----------- */
.hero-section{
    height: 90vh;
    min-height: 700px;
    background-image: url(..//img/hero.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.input-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 200px;
}
.input-container :first-child {
  grid-column: span 2;
}
.hero-input{
    display: flex;
}
.hero-input i{
    background: black;
    padding: 0 12px;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}
.search{
    width: 100%;
    border-radius: 0;
    background: blue;
    border: none;
    font-weight: 500;
    color: #fff;
}
.search:hover{
    background-color: rgb(4, 4, 167);
}
.hero-input input {
  width: 100%;
  height: 45px;
  padding-left: 20px;
  outline: none;
}
.hero-title{
    font-family: "Inter", sans-serif;
    font-size: 4rem;
    font-weight: 900;
}
.hero-title span{
    font-size: 5rem;
    line-height: 4rem;
}
.hero-description{
    font-size: 2.5rem;
    margin-top: 2rem;
}

/* ----------Feature Section---------- */
.feature-description{
    font-family: "Inter", sans-serif;
    font-family: "Roboto", sans-serif;
}
.feature-box{
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 0 0 5px #0000002e;
    border-radius: 4px;
}
.feature-title{
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
}

/* ----------Destination Section----------- */
.destination-box img{
    width: 100%;
}
.destination-section{
    position: relative;
    overflow: hidden;
}
.travel-shodow{
    position: absolute;
    left: 0;
    bottom: -50px;
    font-size: 12rem;
    font-weight: 900;
    z-index: -1;
    color: #d6dbe2;
}
/* ----------Discount Section----------- */
.discount-section .container{
    max-width: 883px;
    margin: 0 auto;
}
.discount-section{
    min-height: 600px;
    background-image: url(../img/discount.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: "Libre Baskerville", serif;
}
.discount-heading{
    font-size: 3rem;
    margin-bottom: 50px;
}
.discount-heading span{
    font-size: 2.3rem;
}
.time-box{
    font-size: 1.125rem;
}
.time-circle{
    border: 8px solid #fff;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.btn{
    background-color: black;
    color: #fff;
    border: 2px solid black;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}
.btn:hover{
    border: 2px solid black;
    color: #000;
    font-weight: 600;
}
.time-box p{
    font-family: "Inter", sans-serif;
}
.join-us{
    margin-top: 80px;
}

/* ----------Package Section----------- */
.package-box{
    background-color: #fff;
    box-shadow: 0 0 10px #0000003b;
    border-radius: 4px;
}
.package-box img{
    border-radius: 4px;
}
.book-now{
    background: #0075bf;
    border: none;
}
.book-now:hover{
    background-color: #002d79;
    border: none;
    color: #fff;
}
.price{
    font-family: "Libre Baskerville", serif;
    font-size: 2.1875rem;
    color: #0075bf;
    font-weight: 700;
    margin-bottom: 0;
}
.package-box-content{
    padding: 30px;
}

/* ---------Review Section----------- */
.client{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.client-name{
    font-size: 1.4rem;
    margin-bottom: 0px;
    font-weight: 600;
}
.review-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px #0000003b;
    background-color: #fff;
    padding: 45px 40px;
    border-radius: 4px;
}
.inverted{
    color: #0075bf;
    font-size: 3rem;
    margin-top: -0.5rem;
    font-weight: 700;
}
.inverted{
    font-family: "Libre Baskerville", serif;
}
/* ----Carouserl----- */
.review-section{
    overflow: hidden;
}
.dot{
    font-size: 10rem;
    color: #6f6f6f;
    cursor: pointer;
    line-height: 1.5rem;
    margin-bottom: 5rem;
}
.dot:hover{
    color: #002d79;
}
.dot-active{
    color: #0075bf;
}
.hide{
    display: none;
}
.block{
    display: block;
    opacity: 0;
    animation: slideLeft 1.5s ease 0s forwards;
}
@keyframes slideLeft {
    0%{
        transform: translateX(400px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

/* -------------Offer Section----------- */
.offer-section{
    min-height: 600px;
    background-image: url(../img/offer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.row .col-lg-6:nth-of-type(2) .offer-box {
    padding-left: 100px;
  
}
.offer-section::before{
   content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    #0075bf 100%,
    rgba(255, 255, 255, 0) 0%
  );
}
.offer-box-heading{
    position: relative;
    z-index: 2;
    font-size: 2.5rem;
}
.offer-box-heading .span-1{
    font-size: 5rem;
    font-weight: 300;
}
.offer-box-heading .span-2{
    font-size: 5rem;
    font-weight: 600;
}
.offer{
    font-family: "Libre Baskerville", serif;
}
.offer-price{
    font-family: "Libre Baskerville", serif;
}
.offer-price h3 span{
    font-size: 1.15rem;
}
.stars{
    color: rgb(231, 231, 20);
}
.offer-review{
    display: flex;
    margin-left: 28px;
    margin-top: 8px;
    gap: 8px;
    font-size: .9rem;
}
.offer-btns{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: -40px;
}
.offer{
    margin-bottom: 45px;
}
/* -------------Blog Section------------ */
.blog-section{
    overflow: hidden;
}
/* for giving same height to the blog box,
 .blog-box should have height:100%, and .row should not have align-items-center */
.blog-box{
    box-shadow: 0 0 10px #0000003b;
    height: 100%;
    border-radius: 4px;
}
.blog-box img{
    border-radius: 4px;
}
.blog-box-content{
    padding: 30px;
}
.blog-dot{
    font-size: 10rem;
    color: #6f6f6f;
    cursor: pointer;
    line-height: 1.5rem;
    margin-bottom: 5rem;
}
.blog-dot:hover{
    color: #002d79;
}
.dot-active{
    color: #0075bf;
}
.blog-box-link{
    text-decoration: none;
    font-weight: 600;
}
.blog-box-link:hover{
    text-decoration: underline;
}
.blog-date{
    font-family: "Libre Baskerville", serif;
}

/* --------------Subscribe Section------------ */
.subscribe-section{
    background-color: #002855;
    color: #fff;
    padding: 100px 0;
}
.input-box input{
    padding: 10px 24px;
}
.input-box {
  display: flex;
  align-items: stretch;
  width: fit-content; 
}

.input-box input,
.input-box button {
  padding: 10px 24px;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 0;
  font-weight: 500;
}

.input-box button {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
}
.input-box button:hover {
  background-color: #002d79;
  color: #fff;
  border: none;
}

/* ---------------Footer----------------- */
footer{
    padding-top: 100px;
}
.footer-bottom{
    background-color: #e6e9f0;
    margin-top: 60px;
    padding: 20px 0;
}
.footer-bottom p{
    margin-bottom: 0;
}
.footer-box ul{
    padding-left: 0;
}
.footer-box ul li{
    list-style: none;
}
.footer-link{
    text-decoration: none;
    color: #000;
}
.footer-link:hover{
    text-decoration: underline;
    color: #0075bf;
}
.footer-text{
    font-family: "Libre Baskerville", serif;
}


@media screen and (max-width: 678px) {
    .travel-shodow{
        bottom: -30px;
        font-size: 6.5rem;
    }
}